<div class="flex flex-col gap-4 my-4">
	<div class="inline-flex items-center gap-2">
		<% if authenticated? %>
			<%= link_to "Log out", logout_path, class: "btn btn-soft w-fit", method: :delete %>
		<% else %>
			<%= link_to "Log in", login_path, class: "btn btn-secondary w-fit" %>
		<% end %>
		<%= link_to "Tickets with Pub/Sub", tickets_pubsub_path, class: "btn btn-primary" %>
		<%= link_to "Tickets with Polling", tickets_polling_path, class: "btn btn-primary" %>
	</div>
	<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
		<table class="table">
			<!-- head -->
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Email</th>
					<th>Google Signed In?</th>
					<th>Created At</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each_with_index do |u, i| %>
					<tr>
						<th><%= i + 1 %></th>
						<td><%= u.name %></td>
						<td><%= u.email_address %></td>
						<td><%= u.accounts.exists? %></td>
						<td><%= u.created_at.strftime("%a, %d %b %Y %I:%M:%S %p") %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>